* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.body {
  font-family: sans-serif;
}
.profilepic {
  background: linear-gradient(
    45deg,
    #405de6,
    #5851db,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d
  );
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#profilePic {
  margin: 10px;
  color: white;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.fa-solid {
  color: white;
}
